#sidebar {
  /* background-coxlor: hsl(0, 0%, 96%); */
  height: 100%;
  padding:4%;
}

#dropdown-hero {
  color:hsl(204, 86%, 53%);
}

#dropdown-item-hero:hover {
  color:white;
  background-color: hsl(204, 86%, 53%);
}


.hero {
  background-image: url('Assets/city-her4.png') ;
  /* background-size: cover; */
  /* z-index: 99; */
}

.title {
  margin-top: 0px !important;
  font-size: 50px !important;
}

.goTop {
  border-radius: 5px;
  background-color: hsl(204, 86%, 53%);
  position: fixed;
  width: 45px;
  height: 45px;
  display: block;
  right: 100px;
  bottom: 60px;
  border: none;
  opacity: 0;
  z-index: -1;
}

.goTop .fa {
    color: white !important;
    font-size: 22px;
}



.isVisible {
  opacity: 1;
  z-index: 4;
  transition: all .4s ease-in;
}


.profile-img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.image-post{
     object-fit: cover
}

.fit-image {
    height: 100%;
    width: 620px;
    background-color:white
}
.title{
    margin-top: 30px;
}

#main-container {
  margin: 30px 10% 0px 10%;
}

.fixed {
    position: fixed;
    /* width: 57px; /* according to #canvas-left */
}

.fadeIn {
  -webkit-animation: fadeIn 0.3s !important; /* Safari 4+ */
  -moz-animation:    fadeIn 0.3s !important; /* Fx 5+ */
  -o-animation:      fadeIn 0.3s !important; /* Opera 12+ */
  animation:         fadeIn 0.3s !important; /* IE 10+, Fx 29+ */
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}
